* {
  margin: 0;
}

body {
  flex-direction: column;
  display: flex;
  font-family: "Montserrat", sans-serif;
  min-height: 2000px;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

p,
span,
h1,
h2,
h3 {
  cursor: default;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.loader {
  font-family: sans-serif;
}

.page {
  width: 100%;
  z-index: 2;
}

.container {
  max-width: 1050px;
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.background-sphere {
  border-radius: 1203px;
  background: rgba(117, 180, 254, 0.13);
  filter: blur(125px);
  position: absolute;
  z-index: 1;
  width: 1203px;
  height: 1175px;
}

.background-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.background-container--fixedtop {
  position: absolute;
  top: 0;
}

.background-container--gradient {
  background: linear-gradient(-45deg, #dbe6f8, #F9F9FD, #dbe6f8);
}

.sphere-1 {
  left: -768px;
  top: -462px;
}

.sphere-2 {
  right: -680px;
  top: -462px;
}

.intro {
  margin-top: 40px;
}

.intro__image {
  width: 100%;
  border-radius: 30px;
}

.intro__title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #2D4059;
  margin-top: 25px;
}

.intro__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-top: 25px;
}

.postintro-desk {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.2px;
  color: #737373;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.block-50 {
  margin-top: 50px;
}

.block-90 {
  margin-top: 90px;
}

.block-112 {
  margin-top: 112px;
}

.block-162 {
  margin-top: 162px;
}

.block-image {
  width: 380px;
  margin: auto 0;
  border-radius: 30px;
}

.block--reduce {
  margin: 0 auto;
}

.block-title {
  color: #252B42;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
}

.block-title--margin20 {
  margin-bottom: 20px;
}

.list-block {
  flex-direction: row;
  justify-content: space-between;
  gap: 120px;
}

.list-block--lessgap {
  gap: 55px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.list li {
  gap: 10px;
  display: flex;
  align-items: center;
  color: #2D4059;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.list svg {
  color: #2DC071;
  min-width: 24px;
  margin-bottom: auto;
}

.list--gap8 {
  gap: 5px;
}

.list--gap10 {
  gap: 10px;
}

.list__title {
  color: #252B42;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 39px */
  text-transform: capitalize;
  margin-bottom: 12px;
}

.list__title-mini {
  color: #2D4059;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.list__title-teacher {
  color: #2D4059;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.price-block {
  display: flex;
  align-items: center;
}

.price-plate {
/*   background: #96BB7C; */
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.1px;
  padding: 25px 25px;
  border-radius: 30px;
  border: 2px solid #252B42;
  color: #252B42;
}

.price-plate-title {
  font-weight: 600;
}
.price-plate-description {
  font-size: 16px;
  max-width: 450px;
  line-height: 125%;
  margin-top: 15px;
}
.price-plate-price {
  font-weight: 600;
  margin-top: 20px;
}
.price-plates-container {
  display: flex;
  gap: 10px;
}

.price-plate--compact {
  background: #A6A6A6;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: 600;
}

.disc-price-block {
  display: flex;
  gap: 25px;
  align-items: center;
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-top: 20px;
}

.price-block__note {
  margin-top: 20px;
  color: #2D4059;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.separator {
  margin: 30px auto;
  width: 800px;
  height: 1px;
  background: #D9D9D9;
}

.contacts {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  gap: 35px;
}
.contacts .telegram {
  text-align: center;
  letter-spacing: 0.1px;
}
.contacts .telegram p {
  color: #2D4059;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.contacts .telegram a {
  color: #252B42;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.contacts .qr {
  text-align: center;
  letter-spacing: 0.1px;
}
.contacts .qr p {
  color: #2D4059;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}
.contacts .qr img {
  max-width: 180px;
}

.teachers-block .list {
  margin: auto 0;
}
.teachers-block .list li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #2DC071;
}

.teacher-image {
  border-radius: 200px;
  width: 292px;
  height: 292px;
  margin: 0 10px;
}

.contacts-block {
  margin-bottom: 100px;
}

.contacts-block__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}

.contacts-block__contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
}
.contacts-block__contact-container img {
  width: 250px;
  height: 250px;
  border-radius: 200px;
}

.contacts-block__contact {
  box-sizing: border-box;
  color: #2D4059;
  background: rgba(228, 225, 225, 0.35);
  margin-top: 10px;
  font-size: 19.5px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.2px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  padding: 15px;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  gap: 15px;
}
.contacts-block__contact a {
  padding: 10px 15px;
  margin: 0 auto;
  color: #FFF;
  background: #2DC071;
  border-radius: 50px;
  text-align: center;
  font-size: 19.5px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}

.videos-container {
  justify-content: center;
  gap: 25px;
  display: flex;
}

.video-review {
  max-width: 500px;
  max-height: 500px;
  border-radius: 30px;
}

.video-review-text {
  max-width: 280px;
  text-align: center;
  margin-bottom: 20px;
  color: #2D4059;
  font-size: 16px;
  font-weight: 500;

  name {
    font-weight: 600;
    font-size: 20px;
    margin-botton: 5px;
  }
}

.video
{
  max-width: 500px;
  margin: 0 auto;
}

.button {
  padding: 6px 20px;
  background: #2DC071;
  border-radius: 50px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  box-shadow: 1px 1px 10px #99bfbe;
  box-sizing: content-box;
  display: flex;
  margin: auto;

  transition: 0.35s;
}

.button:hover {
  background: #28aa64;
  box-shadow: 1px 1px 10px #6b9d9c;
}

.button:active {
  transition: 0.05s;
  background: #268652;
}

@media screen and (max-width: 860px) {
  .list-block {
    flex-direction: column;
    gap: 60px;
  }
  .block-image {
    margin: 0 auto;
  }
  .background-sphere {
    width: 862px;
    height: 875px;
  }
  .sphere-1 {
    left: -393px;
  }
  .sphere-2 {
    right: -823px;
  }
  .disc-price-block {
    gap: 15px;
    flex-direction: column;
    text-align: center;
  }
  .videos-container {
    flex-direction: column;
    gap: 25px;
  }  
  .contacts {
    gap: 40px;
    flex-direction: column;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .list__title-teacher {
    text-align: center;
  }
  .separator {
    width: 95%;
  }
  .contacts .qr {
  display: flex;
  flex-direction: column;
  }
  .price-plates-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .contacts-block__contact {
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .contacts-block__contact a {
    margin: 0 auto;
  }
  .intro {
    margin-top: 20px;
  }
  .block-162 {
    margin-top: 112px;
  }
  .video
  {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .block-title {
    font-size: 30px;
    line-height: 35px;
  }
  .list__title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
  .postintro-desk {
    font-size: 20px;
    line-height: 25px;
  }
  .intro__title {
    font-size: 35px;
    line-height: 42px;
  }
  .block-90 {
    margin-top: 50px;
  }
  .block-112 {
    margin-top: 70px;
  }
  .block-162 {
    margin-top: 100px;
  }
  .teachers-block .list li::before {
    min-width: 5px;
  }
}
@media screen and (max-width: 380px) {
  .intro__title {
    font-size: 30px;
    line-height: 36px;
  }
  .contacts-block__contact {
    font-size: 16.5px;
  }
  .list-block {
    gap: 60px;
    gap: 30px;
  }
  .block-image {
    width: 90%;
  }
  .teacher-image {
    width: 240px;
    height: 240px;
  }
  .price-block__note {
    font-size: 20px;
    line-height: 25px;
  }
  .price-block__note {
    font-size: 20px;
    line-height: 25px;
  }
  .disc-price-block {
    font-size: 15px;
    font-weight: 600;
  }
  .list li {
    font-size: 15px;
  }
}
